<div>
    <div data-ng-header="" data-toggle="toggleSidebar" data-text="{{title}}"></div>
    <div role="main">
        <section data-type="output">
            <p data-ng-moz-l10n="about-descr1">
                Open source offline dictionary webapp for StarDict dictionaries hosted on GitHub
            </p>
            <p>http://github.com/tuxor1337/firedict</p>
            <p data-ng-moz-l10n="about-descr2">
                Scans for dictionaries in your sdcard's "dictdata" directory.
            </p>
            <p>
                <span data-ng-moz-l10n="about-version">Currently installed version:</span> {{manifest.version}}
            </p>
        </section>
    </div>
</div>
