<header class="main">
    <a data-ng-click="toggleSidebar()">
        <span class="icon icon-menu">show/hide sidebar</span>
    </a>
    <form role="search" data-ng-show="type == 'lookup'">
        <input type="text" placeholder="Lookup..."
               data-ng-model="searchTerm" data-ng-focus="onFocus()" />
        <button data-ng-click="searchTerm = '';onFocus()">Clear</button>
    </form>
    <menu type="toolbar" data-ng-if="type == 'manage'">
        <a data-ng-click="onReindex()"><span class="icon icon-reindex">reindex</span></a>
    </menu>
    <h1 data-ng-transclude=""></h1>
</header>
