<div class="partial-container">
    <div data-ng-header="" data-toggle="toggleSidebar" data-type="lookup"
         data-term="search_term" data-focus="back"
         data-enter="lookup_enterpressed"
         data-groups="choose_groups"></div>
    <div role="main">
        <section data-type="list" data-ng-if="!showingEntry">
            <ul class="matches">
                <li data-ng-show="!matches.length &amp;&amp; !idle">
                    <p data-ng-moz-l10n="lookup-no-matches"></p>
                </li>
                <li data-ng-show="idle" class="idle"></li>
                <li data-ng-repeat="match in matches">
                    <a data-ng-click="show_entry(match)">
                        <p>
                            <span data-ng-repeat="dict in dictionaries | filter:matchDictFilter(match) | orderBy: 'rank'"
                                  data-ng-style="{'background-color':dictColor(dict)}"
                                  class="marker"></span>
                            {{match.term}}
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <section data-type="output" data-ng-if="showingEntry" data-ng-style="{'font-size': content_fontsize()}">
            <div data-ng-repeat="dict in dictionaries | filter:entryDictFilter | orderBy: 'rank'"
                 data-ng-style="{'border-color':dictColor(dict)}" class="text">
                <h2 class="dictname"
                    data-ng-style="{'background-color':dictColor(dict)}">{{dict.alias}}</h2>
                <div data-ng-repeat="entry in entries | filter:{ did: dict.version }:true | orderBy:termOrderFn">
                    <h3 class="term"
                        data-ng-style="{'background-color':dictColor(dict)}"
                        data-ng-render-term="{{entry.term}}"></h3>
                    <div class="content preview">
                        <div data-ng-repeat="dt in entry.data"
                             data-ng-click="pick_word($event)"
                             data-compile="render_content(dt, dict.version)">
                       </div>
                    </div>
                    <div class="button showmore"
                         data-ng-click="showPreview(false, $event)">
                        <div data-ng-moz-l10n="lookup-show-more"></div>
                    </div>
                    <div class="button showless"
                         data-ng-click="showPreview(true, $event)">
                        <div data-ng-moz-l10n="lookup-show-less"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
