<div class="partial-container">
    <div data-ng-header="" data-type="manage" data-toggle="toggleSidebar"
         data-reindex="reindex" data-text="{{title}}"></div>
    <div role="main">
        <section data-type="list">
            <ul class="manage" data-ng-sortable="" data-move-fn="dictMoveAfter">
                <li data-ng-if="dictionaries.length == 0" class="notfound">
                    <h2 data-ng-moz-l10n="manage-no-dictionaries-found"></h2>
                    <p data-ng-moz-l10n="manage-scan-unsuccessful"></p>
                    <p data-ng-moz-l10n="manage-make-sure-everythings-okay"></p>
                    <p data-ng-moz-l10n="manage-proper-stardict-format"></p>
                    <p data-ng-moz-l10n="manage-examplary-dir-structure"></p>
                    <ul>
                        <li>dictdata/testDict/mydict.dict</li>
                        <li>dictdata/testDict/mydict.idx</li>
                        <li>dictdata/testDict/mydict.ifo</li>
                        <li>dictdata/testdict2/a2ndDict.dict.dz</li>
                        <li>dictdata/testdict2/a2ndDict.idx</li>
                        <li>dictdata/testdict2/a2ndDict.ifo</li>
                    </ul>
                    <p data-ng-moz-l10n="manage-files-may-be-compressed"></p>
                </li>
                <li draggable="" data-ng-repeat="dict in dictionaries | orderBy:'rank'"
                    data-ng-class="{'inactive': !dict.active, 'selected': selected == dict.version }">
                    <div class="handle"></div>
                    <div class="color" data-ng-class="{'light': isDark(dictColor(dict))}"
                         data-ng-style="{'background-color': dictColor(dict), 'border-color': dictColor(dict)}"
                         data-ng-click="toggleActive(dict)">{{dict.version}}</div>
                    <p data-ng-click="select(dict)">{{dict.alias}}</p>
                    <div class="buttons">
                        <button data-ng-click="setColor(dict)"
                                data-ng-moz-l10n="manage-color-dots">
                        </button>
                        <button data-ng-click="rename(dict)"
                                data-ng-moz-l10n="manage-rename-dots">
                        </button>
                        <button data-ng-click="setGroups(dict)"
                                data-ng-moz-l10n="manage-groups-dots">
                        </button>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
