<div class="partial-container">
    <div data-ng-header="" data-type="manage" data-toggle="toggleSidebar"
         data-reindex="reindex" data-text="{{title}}"></div>
    <div role="main">
        <section data-type="list">
            <ul class="manage" data-ng-sortable="" data-move-fn="dictMoveAfter">
                <li data-ng-if="dictionaries.length == 0" class="notfound">
                    <h2 data-ng-moz-l10n="no-dictionaries-found">
                        No dictionaries found
                    </h2>
                    <p data-ng-moz-l10n="scan-unsuccessful">
                        Unfortunately, scanning your memory card's *dictdata*
                        directory for dictionaries was not successful.
                    </p>
                    <p data-ng-moz-l10n="make-sure-everythings-okay">
                        Please make sure you inserted the (right) memory card and
                        place your dictionaries in a directory named *dictdata*
                        directly at your memory card's root.
                    </p>
                    <p data-ng-moz-l10n="proper-stardict-format">
                        Furthermore, make sure your dictionary is in proper *StarDict*
                        format, i.e. containing at least one file of each of the
                        following types/file endings: idx, ifo, dict.
                    </p>
                    <p data-ng-moz-l10n="examplary-dir-structure">
                        Examplary directory structure:
                    </p>
                    <ul>
                        <li>dictdata/testDict/mydict.dict</li>
                        <li>dictdata/testDict/mydict.idx</li>
                        <li>dictdata/testDict/mydict.ifo</li>
                        <li>dictdata/testdict2/a2ndDict.dict.dz</li>
                        <li>dictdata/testdict2/a2ndDict.idx</li>
                        <li>dictdata/testdict2/a2ndDict.ifo</li>
                    </ul>
                    <p data-ng-moz-l10n="files-may-be-compressed">
                        Note that files may be compressed, i.e. having an additional
                        *dz* at the end.
                    </p>
                </li>
                <li draggable="" data-ng-repeat="dict in dictionaries | orderBy:'rank'"
                    data-ng-class="{'inactive': !dict.active, 'selected': selected == dict.version }">
                    <div class="handle"></div>
                    <div class="color" data-ng-class="{'light': isDark(dict.color)}"
                         data-ng-style="{'background-color': dict.color, 'border-color': dict.color}"
                         data-ng-click="toggleActive(dict)">{{dict.version}}</div>
                    <p data-ng-click="select(dict)">{{dict.alias}}</p>
                    <div class="buttons">
                        <button data-ng-click="setColor(dict)" 
                                data-ng-moz-l10n="color-dots">
                            Color...
                        </button>
                        <button data-ng-click="rename(dict)"
                                data-ng-moz-l10n="rename-dots">
                            Rename...
                        </button>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
