<!DOCTYPE html>
<html>
    <head>
        <title>firedict</title>

        <meta charset="utf-8" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"  />

        <link rel="stylesheet" type="text/css" href="style/layout.css" />
        <link rel="stylesheet" type="text/css" href="style/drawer.css" />
        <link rel="stylesheet" type="text/css" href="style/header.css" />
        <link rel="stylesheet" type="text/css" href="style/lookup.css" />
        <link rel="stylesheet" type="text/css" href="style/manage.css" />
        <link rel="stylesheet" type="text/css" href="style/dialog.css" />
        <link rel="stylesheet" type="text/css" href="style/settings.css" />

        <link rel="resource" type="application/l10n" href="locales/locales.ini" />

        <script type="application/javascript" src="js/util.js"></script>
        <script type="application/javascript" src="js/idbwrapper.js"></script>
        <script type="application/javascript" src="js/lib/l10n.js"></script>
        <script type="application/javascript" src="js/lib/wiki2html.js"></script>
        <script type="application/javascript" src="js/lib/jquery.min.js"></script>
        <script type="application/javascript" src="js/lib/promise.min.js"></script>
        <script type="application/javascript" src="js/lib/angular.min.js"></script>
        <script type="application/javascript" src="js/lib/angular-route.min.js"></script>
        <script type="application/javascript" src="js/lib/angular-sanitize.min.js"></script>
        <script type="application/javascript" src="js/lib/angular-touch.min.js"></script>
        <script type="application/javascript" src="js/directives.js"></script>
        <script type="application/javascript" src="js/controllers.js"></script>
        <script type="application/javascript" src="js/app.js"></script>
    </head>
    <body data-ng-app="FireDict" data-ng-csp>
        <div data-ng-drawer title="FireDict">
            <li data-ng-repeat="item in menuitems">
                <a data-ng-href="{{item.route}}"
                   data-ng-click="toggleSidebar($event, false)"
                   data-ng-moz-l10n="{{item.l10n}}">
                    {{item.fullname}}
                </a>
            </li>
        </div>
        <section id="mainArea" data-ng-class="{drawer: drawerOpen}" data-ng-click="toggleSidebar($event, false)">
            <div data-ng-view=""></div>
        </section>
    </body>
</html>
