<!DOCTYPE html>
<html>
    <head>
        <title>firedict</title>
        
        <meta charset=utf-8 />
        
        <link rel="stylesheet" type="text/css" href="style/layout.css" />
        <link rel="stylesheet" type="text/css" href="style/drawer.css" />
        <link rel="stylesheet" type="text/css" href="style/header.css" />
        <link rel="stylesheet" type="text/css" href="style/lookup.css" />
        <link rel="stylesheet" type="text/css" href="style/manage.css" />
        <link rel="stylesheet" type="text/css" href="style/dialog.css" />
        <link rel="stylesheet" type="text/css" href="style/settings.css" />
        
        <script src="js/lib/jquery.min.js" type="text/javascript"></script>
        <script src="js/lib/promise.js" type="text/javascript"></script>
        <script src="js/lib/angular.js" type="text/javascript"></script>
        <script src="js/lib/angular-route.js" type="text/javascript"></script>
        <script src="js/lib/angular-sanitize.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </head>
    <body data-ng-app="FireDict" data-ng-csp>
        <div data-ng-drawer title="FireDict">
            <li data-ng-repeat="item in menuitems">
                <a data-ng-href="#/{{item.ref}}" data-ng-click="toggleSidebar()">
                    {{item.label}}
                </a>
            </li>
        </div>
        <section id="mainArea" data-ng-class="{drawer: drawerOpen}">
            <div data-ng-view></div>
        </section>
    </body>
</html>
