
body { padding:0; margin:0; }
body > div { padding:0; margin:0; }

input[type=text] {
    width: 100%;
    height:2.1em;
    position: fixed;
    top:0; left:0;
    background-color:#fff;
}

output {
    background-color: #eee;
    font-family:monospace;
    display:block;
    padding:0; margin:3.3em 0 0;
}

output p { padding: 0em 1em; margin: 0; }
output div.text {
    background-color:#fff; padding: 0; margin:0 1px 2px;
    border: 2px #000 solid;  border-radius:5px;
}
output div.text h2 {
    overflow: hidden;
    white-space: nowrap;
    margin:0; padding:0.1em 0.3em;
    text-align:center;
    color:#fff; font-size:0.8em;
    font-weight:normal;
    background-color:#000;
}
output div.text p.entry {
    padding: 0.5em 0.4em; margin:0;
}
output div.text h3 {
    font-size:0.9em; font-weight:bold;
    margin:0; padding:0 0.2em;
    background-color:#000; color:#fff;
}
output div.text h3 b {
    font-weight:normal;
}

output ul {
    background-color:#fff;
    margin:0; padding:0;
    list-style:none;
    font-family: sans-serif;
}

output ul li {
    margin:0; padding:0.8em 1.3em;
    list-style:none;
    display:block;
    border-bottom:1px black solid;
}

output ul li:hover {
    background-color: #f5f5f5;
}
