
section[role="dialog"] {
    z-index: 1000;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #2D2D2D;
    color: #fff; text-align: center;
}

section[role="dialog"] div.main {
    position: absolute;
    top: 1.5rem; bottom: 4rem;
    width: 100%;
}

section[role="dialog"] div.main > p {
    max-width: 90%;
    margin: 0 auto;
    height: 3.8rem;
    font-weight: 300;
    font-size: 1.1rem;
}

section[role="dialog"] div.buttons {
    -moz-box-sizing: border-box;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 4rem;
    padding: 1rem 0.5rem;
    background-color: #4D4D4D;
}

section[role="dialog"] div.buttons button {
    -moz-box-sizing: border-box;
    width: 46%; height: 100%;
    margin: 0 1.2%;
}

section[role="dialog"] input[type=text] {
    -moz-box-sizing: border-box;
    width: 90%;
    font-size: 1.1rem;
}

section[role="dialog"] div.picker {
    position: absolute;
    top: 3.5rem; bottom: 1rem;
    left: 1rem; right: 1rem;
}

section[role="dialog"] div.picker input {
    border: 0; border-radius: 0; outline: none;
    background: transparent;
    width: 80%; height: 1.2rem;
}

input:active, input:focus,
input::moz-range-track:focus,
input::moz-range-track:active {
    outline: none; border: none;
}

section[role="dialog"] div.picker input::-moz-range-track {
    border: 0; border-radius: 0; outline: none;
    height: 1px;
}

section[role="dialog"] div.picker input.red::-moz-range-track { background: #f00; }
section[role="dialog"] div.picker input.green::-moz-range-track { background: #0f0; }
section[role="dialog"] div.picker input.blue::-moz-range-track { background: #00f; }

section[role="dialog"] div.picker input::-moz-range-thumb {
    height: 1.2rem; width: 1.2rem;
    border-radius: 0.6rem;
    border: 0;
    background: #fff;
}

section[role="dialog"] div.picker > div {
    -moz-box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 2.5rem; bottom: 0;
    padding: 0.4rem 0.5rem;
    overflow: auto;
    text-align: left;
    background-color: #fff; color: #000;
}

section[role="dialog"] div.picker.colorpicker { line-height: 2rem; }

section[role="dialog"] div.picker.colorpicker > div {
    top: 6rem;
    padding: 0 0.3rem;
    line-height: 2rem;
}

section[role="dialog"] div.picker.colorpicker > div span {
    color:#ddd;
    background-color:#000;
    opacity:0.6;
    padding: 0.1rem 0.3rem;
    border-radius:0.4rem;
}

section[role="dialog"] div.picker.wordpicker > p.picked {
    margin: 0 auto; padding: 0;
    width: 70%; height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0.2rem;
    text-align: center;
    background-color: rgba(220,220,220,0.8);
    color: #000;
    font-weight:bold;
}

section[role="dialog"] div.picker.wordpicker > div.content {
    font-size: 1.1rem;
}

section[role="dialog"] div.picker.wordpicker > div.content span.picked {
    padding: 0.2em;
    border-radius: 0.1em;
    background-color: #ff4;
}

section[role="dialog"] div.grouppicker {
    position: absolute;
    top: 3.5rem; bottom: 0.8rem;
    left: 0.5rem; right: 0.5rem;
    overflow: auto;
    border-top: 1px rgba(200,200,200,0.5) solid;
    color: #fff;
}

section[role="dialog"] ul.checklist {
    padding: 0; margin: 0;
    list-style: none;
    overflow: hidden;
}

section[role="dialog"] ul.checklist li {
    -moz-box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0.4rem 38px 0.4rem 1rem;
    text-align: right;
}

section[role="dialog"] ul.checklist li p { margin: 0; }
section[role="dialog"] ul.checklist li.notfound { padding-right: 1rem; }
section[role="dialog"] ul.checklist li.notfound p { text-align:center; }

section[role="dialog"] ul.checklist label.pack-switch {
    width: 16px; height: 16px;
    margin-top: -10px;
}

section[role="dialog"] ul.checklist label.pack-switch input ~ span:after {
    width: 16px; height: 16px;
    margin: -8px 0 0;
    border: 2px #999 solid;
    border-radius: 3px;
    background-color: #999;
    background-image: none;
    background-size: 16px 16px;
    background-position: 0 0;
}

section[role="dialog"] ul.checklist label.pack-switch input:checked ~ span:after {
    background-image: url(images/checkmark-light.png);
}

section[role="dialog"] ul.groups {
    padding: 0 0 0.3rem; margin: 0;
    text-align: left;
}

section[role="dialog"] ul.groups li {
    -moz-box-sizing: border-box;
    display: block;
    position: relative;
    width: 92%;
    padding: 0.3rem 40px 0.4rem 30px;
    margin: 0.3rem 2% 0 5%;
    list-style: none;
}

section[role="dialog"] ul.groups li.notfound { display:none; }
section[role="dialog"] ul.groups li.all { display:block; }

section[role="dialog"] ul.groups li > p {
    line-height: 1.3rem;
    padding: 0; margin: 0;
}

section[role="dialog"] progress[value] {
   border: none;
   width: 80%; height: 0.7rem;
   background: #fff;
}

section[role="dialog"] progress[value]::-moz-progress-bar {
    background: #01c5ed;
    border-radius: 0;
}

section[role="dialog"] progress:not([value]) {
    background: url(images/spinner.png) no-repeat center center / 100% auto;
    animation: 0.9s rotate infinite steps(30);
    position:absolute;
    left:50%; bottom:4rem;
    margin-left:-1.3rem;
    width: 2.6rem; height: 4rem;
    border: none;
    display: inline-block;
    vertical-align: middle;
}

section[role="dialog"] progress:not([value])::-moz-progress-bar {
 background: none;
}

@keyframes rotate {
    from { transform: rotate(1deg); }
    to   { transform: rotate(360deg); }
}

@keyframes move {
    from { background-position: 0 0; }
    to   { background-position: 1rem 0; }
}
