
header.main {
  position: absolute;
  z-index: 90;
  padding: 0;
  color: #fff;
  background-color: #111;
  border: none;
  width:100%;
  top: 0; left: 0;
}

header.main h1 {
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem 0 3rem;
  height: 100%;
  font-weight: lighter;
}

header.main h1 em {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  font-style: normal;
}

header.main form[role="search"]  {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0.6rem 1.2rem 0 0;
  margin-left: 3rem;
}

header.main form[role="search"] input[type="text"] {
  width: 100%;
  height: 2.8rem;
  -moz-box-sizing: border-box;
  padding: 0 0.8rem;
  border: 0; border-radius:0;
  background: #fff url(headers/images/ui/shadow.png) repeat-x left -0.1rem;
  font-size: 1.5rem;
  line-height: 2.8em;
  box-shadow: none;
}

header.main form[role="search"] button {
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  bottom: 0;
  width: 3rem;
  height: auto;
  margin: 0;
  display: none;
  border: none;
  background: url(images/search-clear.png) no-repeat center center / 1.7rem auto;
}

header.main form[role="search"] input[type="text"]:valid + button {
  display: block;
}

header.main menu[type="toolbar"] {
  height: 100%;
  float: right;
}

header.main menu[type="toolbar"] a,
header.main menu[type="toolbar"] button {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: auto;
  min-width: 5rem;
  height: 4rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 4rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
}


header.main menu[type="toolbar"] {
  padding: 0;
  margin: 0;
}

header.main a,
header.main button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
}


header.main button::-moz-focus-inner {
  outline: none;
  border: none;
  margin-top: -0.2rem;
  padding: 0;
}

header.main > a:not([aria-disabled="true"]):active:after,
header.main > button:not(:disabled):active:after,
header.main > a:not([aria-disabled="true"]):hover:after,
header.main > button:not(:disabled):hover:after,
header.main menu[type="toolbar"] a:not([aria-disabled="true"]):hover,
header.main menu[type="toolbar"] button:not(:disabled):hover,
header.main menu[type="toolbar"] a:not([aria-disabled="true"]):active,
header.main menu[type="toolbar"] button:not(:disabled):active  {
  background-color: #222 !important;
}

header.main menu[type="toolbar"] a[aria-disabled="true"],
header.main menu[type="toolbar"] button[disabled]  {
  opacity: 0.5;
}

header.main .icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 4rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}

header.main .icon.icon-menu {
  background-image: url(images/header-icon-menu.png);
}

header.main .icon.icon-reindex {
  background-image: url(images/header-icon-reindex.png);
}

header.main > button,
header.main > a {
  position: relative;
  width: 5rem;
  height: 4rem;
  background: none;
  float: left;
  overflow: visible;
  margin: 0 -5rem 0 0;
}

header.main > button:after,
header.main > a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 2.6rem;
  height: 4rem;
}

header.main > button .icon,
header.main > a .icon {
  display: block;
  margin: 0;
  font-size: 0;
}
