
header.main {
    position: absolute;
    top: 0; left: 0;
    width:100%;
    padding: 0;
    z-index: 100;
    background-color: #111;
}

header.main h1 {
    display: block;
    padding: 0; margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight:normal;
    color: #fff;
}

header.main a,
header.main button {
    border: none;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    font-size: 0;
}

header.main form[role="search"]  {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0.45rem 0 0 0;
    margin-left: 2.4rem;
    line-height:2.1rem;
}

header.main form[role="search"] input[type="text"] {
    -moz-box-sizing: border-box;
    width: 100%; height: 2rem;
    line-height: 2rem;
    padding: 0 2rem 0 0.45rem;
    border: 0; border-radius: 0;
    box-shadow: none;
}

header.main form[role="search"] button {
    position: absolute;
    top: 0.55rem; right: 0; bottom: 0;
    width: 2rem; height: auto;
    margin: 0;
    display: none;
    font-size: 0;
    background: url(images/search-clear.png) no-repeat center center;
}

header.main form[role="search"] input[type="text"]:valid + button {
    display: block;
}

header.main menu[type="toolbar"] {
    padding: 0; margin: 0 0 0 0.1rem;
    height: 100%;
    float: right;
}

header.main menu[type="toolbar"] a,
header.main menu[type="toolbar"] button {
    -moz-box-sizing: border-box;
    position: relative;
    float: left;
    width: 3rem; height: 3rem;
    margin: 0; padding: 0;
    border-radius: 0;
}

header.main > a:not([aria-disabled="true"]):active,
header.main > button:not(:disabled):active,
header.main > a:not([aria-disabled="true"]):hover,
header.main > button:not(:disabled):hover,
header.main menu[type="toolbar"] a:not([aria-disabled="true"]):hover,
header.main menu[type="toolbar"] button:not(:disabled):hover,
header.main menu[type="toolbar"] a:not([aria-disabled="true"]):active,
header.main menu[type="toolbar"] button:not(:disabled):active  {
    background-color: #222 !important;
}

header.main .icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: transparent no-repeat center center;
    overflow: hidden;
}

header.main .icon.icon-menu {
    background-image: url(images/header-icon-menu.png);
    background-size: 2.4rem auto;
    width: 2.6rem; height: 3rem;
}

header.main .icon.icon-reindex {
    background-image: url(images/header-icon-reindex.png);
    background-size: 2.2rem auto;
    width: 3rem; height: 3rem;
}

header.main .icon.icon-groups {
    background-image: url(images/header-icon-groups.png);
    background-size: 2.2rem auto;
    width: 3rem; height: 3rem;
}

header.main .icon.icon-add {
    width: 3rem; height: 3rem;
}

header.main .icon.icon-add::after {
    content: "+";
    display:block;
    position:absolute;
    top:-0.25rem; left:0.7rem;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

header.main > button,
header.main > a {
    width: 2.4rem; height: 3rem;
    margin: 0 0.1rem 0 0;
    float: left;
}
