html { height: 100%; }
body {
    font-family: sans-serif;
    margin: 0; height:100%;
    display:block; overflow:hidden;
}

div[role="main"] {
    padding: 2.9rem 0 0;
}

div[role="main"] section[data-type="output"] {
    padding:0; margin:0.2rem 0;
}

div[role="main"] section[data-type="output"] > p { margin: 1rem; }

section[data-type="list"] > ul {
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

section[data-type="list"] > ul > li {
  width: 100%;
  -moz-box-sizing: border-box;
  transition: transform 0.3s ease, padding 0.3s ease;
  border-bottom: 1px solid #e7e7e7;
  color: #000;
  margin: 0;
  display: block;
}

section[data-type="list"] > ul > li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: #000;
  line-height: 2rem;
  padding: 0.5rem 1rem;
}

div.partial-container {
    margin:0; padding:0; background-color:transparent; display:block;
}
