html { height: 100%; font-size:75%; }
body {
    font-family: sans-serif;
    margin: 0; height:100%;
    display:block; overflow:hidden;
}

div[role="main"] {
    /*overflow: auto;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;*/
    padding: 4rem 0 0; /* bottom 1.5rem */
}

div[role="main"] section[data-type="output"] {
    padding:0; margin:0.2rem 0;
}

div[role="main"] section[data-type="output"] > p {
    margin: 1rem;
    font-size:1.3rem;
}

section[data-type="list"] ul {
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

section[data-type="list"] ul li {
  width: 100%;
  height: 3rem;
  -moz-box-sizing: border-box;
  transition: transform 0.3s ease, padding 0.3s ease;
  border-bottom: solid 0.1rem #e7e7e7;
  color: #000;
  margin: 0;
  display: block;
}

section[data-type="list"] ul p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: #000;
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 1rem;
}
