html { height: 100%; font-size:75%; }
body {
    font-family: sans-serif;
    margin: 0; height:100%;
    display:block; overflow:hidden;
}

div[role="main"] {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    padding: 4rem 0 1.5rem;
    background: #fff;
}
div[role="main"] p.loading { margin:5rem 0 0; padding:0; text-align:center; }
div[role="main"] section[data-type="output"] {
    padding:0; margin:0.2rem 0;
}

/* Spinner */
progress:not([value]) {
  background: url(images/spinner.png) no-repeat center center / 100% auto;
  animation: 0.9s rotate infinite steps(30);
  width: 2.9rem;
  height: 2.9rem;
  border: none;
  display: inline-block;
  vertical-align: middle;
}

progress:not([value])::-moz-progress-bar {
 background: none;
}
@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

@keyframes move {
  from { background-position: 0 0; }
  to   { background-position: 1rem 0; }
}
