section[data-type="output"] div.text {
    background-color:#fff; padding: 0; margin:0 1px 2px;
    border: 2px #000 solid;
}

section[data-type="output"] div.text h2.dictname {
    overflow: hidden;
    white-space: nowrap;
    margin:0; padding:0.1rem 0.3rem;
    text-align:center;
    color:#fff; font-size:0.9rem;
    font-weight:normal;
    background-color:#000;
}

section[data-type="output"] div.text p.content {
    padding: 0.5rem 0.4rem; margin:0;
}

section[data-type="output"] div.text p.content ol,
section[data-type="output"] div.text p.content ul,
section[data-type="output"] div.text p.content dl,
section[data-type="output"] div.text p.content dt,
section[data-type="output"] div.text p.content dd {
    margin:0; padding:0;
}

section[data-type="output"] div.text p.content dt {
    color: #8B4513; margin-bottom:0.2rem;
}
section[data-type="output"] div.text p.content a {
    color: #0044AA;
}

section[data-type="output"] div.text p.content li {
    margin:0 0 0 2rem; padding:0;
}

section[data-type="output"] div.text h3.term {
    font-size:0.9rem; font-weight:normal;
    margin:0; padding:0.1rem 0.2rem;
    background-color:#000; color:#fff;
}

section[data-type="output"] div.text h3.term b {
    font-weight:bold;
}

section[data-type="output"] div.text img {
    max-width:100%;
}

section[data-type="list"] ul.matches a {
  text-decoration: none;
  color: #000;
  display: block;
  height: 3rem;
  border: none;
  outline: none;
}

section[data-type="list"] ul.matches a:hover {
    background-color: #fff7df;
}

section[data-type="list"] ul.matches span.marker {
    display:block;
    width:7px; height:7px;
    margin-left:3px;
    float:right;
}

section[data-type="list"] ul.matches li.idle {
  background: url(images/spinner.png) no-repeat center center;
  animation: 0.9s rotate infinite steps(30);
  height: 2.9rem;
  border: none; margin: 1rem 0;
}
