div[role="main"] section[data-type="output"] div.text {
    background-color:#fff; padding: 0; margin:0 1px 2px;
    border: 2px #000 solid;
}

div[role="main"] section[data-type="output"] div.text h2 {
    overflow: hidden;
    white-space: nowrap;
    margin:0; padding:0.1rem 0.3rem;
    text-align:center;
    color:#fff; font-size:0.9rem;
    font-weight:normal;
    background-color:#000;
}

div[role="main"] section[data-type="output"] div.text p.entry {
    padding: 0.5rem 0.4rem; margin:0;
}

div[role="main"] section[data-type="output"] div.text h3 {
    font-size:0.9rem; font-weight:bold;
    margin:0; padding:0.1rem 0.2rem;
    background-color:#000; color:#fff;
}

div[role="main"] section[data-type="output"] div.text h3 b {
    font-weight:normal;
}

div[role="main"] section[data-type="output"] div.text img {
    max-width:100%;
}

[data-type="list"] {
  font-weight: 400;
  padding: 0;
}

[data-type="list"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-type="list"] li {
  width: 100%;
  height: 3rem;
  -moz-box-sizing: border-box;
  transition: transform 0.3s ease, padding 0.3s ease;
  border-bottom: solid 0.1rem #e7e7e7;
  color: #000;
  margin: 0;
  display: block;
}

[data-type="list"] li > a {
  text-decoration: none;
  color: #000;
  display: block;
  height: 3rem;
  border: none;
  outline: none;
}

[data-type="list"] li > a:hover {
    background-color: #fff7df;
}

[data-type="list"] li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: #000;
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 1rem;
}

section[data-type=list] span.marker {
    display:block;
    width:7px; height:7px;
    margin-left:3px;
    float:right;
}
