/* ----------------------------------
* Input areas
* ---------------------------------- */
input[type="text"] {
  -moz-box-sizing: border-box;
  box-shadow:none;
  display: block;
  overflow: hidden;
  width: 100%;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #858585;
  opacity: 1;
}

form p {
  position: relative;
  margin: 0;
}

form p + p {
  margin-top: 1rem;
}

form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  position: absolute;
  top: 50%;
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border: none;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  background: transparent url("images/clear.png") no-repeat 50% 50% / 1.2rem auto;
}

/* To avoid colission with BB butons */
li input + button[type="reset"]:after,
li textarea + button[type="reset"]:after {
  background: none;
}

form p input + button[type="reset"],
form p textarea + button[type="reset"] {
  top: 0;
  margin: 0;
}

form p input:focus {
  padding-right: 3rem;
}

form p input:focus + button[type="reset"],
form p textarea:focus + button[type="reset"] {
  opacity: 1;
  pointer-events: all;
}


/* Tidy (search/submit) */
form[role="search"] {
  position: fixed; top: 0px; left:0px;
  height: 2.3rem;
  background: #f0f0f0;
}

form[role="search"]:before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 1.2rem;
  width: 1.2rem;
  background: url("images/search.png") no-repeat;
  background-size: 1.2rem;
}

form[role="search"]:after {
  content: "";
  position: absolute;
  top: 2.3rem;
  right: 0;
  left: 0;
  height: 0.4rem;
  background: url("images/shadow-search.png") repeat-x left top;
  border-top: 0.1rem solid #f0f0f0;
}

form[role="search"] p {
  padding: 0 1.2rem 0 2.5rem;
  overflow: hidden;
}

form[role="search"] p input,
form[role="search"] p textarea {
  height: 2.1rem;
  border: none;
  background: none;
  font-size: 1.3rem;
  padding: 0.2rem 0;
}

form[role="search"] p input:focus {
  padding: 0 2rem 0 0;
}

form[role="search"] p button[type="reset"] {
  right: 0;
}

