
[data-type="list"] ul.settings p {
    line-height:1.3rem;
}

[data-type="list"] ul.settings a.value {
    padding-right: 3.2rem;
}

[data-type="list"] ul.settings a.value div {
    display: block;
    position: absolute;
    top:50%; right: 0.2rem;
    width: 3rem; height: 1.5rem;
    margin-top: -0.7rem;
    line-height: 1.4rem;
    color: #aaa;
    font-size:0.9rem;
}

[data-type="list"] ul.settings div.toggle {
    padding-right: 65px;
}

[data-type="list"] ul.settings label.pack-switch {
    width: 50px; height: 27px;
    margin-top: -14px;
}

[data-type="list"] ul.settings label.pack-switch input ~ span:after {
    width: 60px; height: 27px;
    margin: -13px 0 0;
    border-radius: 13px;
    background-color: #e6e6e6;
    background-image: url(images/switch-background_off.png);
    background-size: 92px 27px;
    background-position: -32px 0;
}

[data-type="list"] ul.settings label.pack-switch input:checked ~ span:after {
    background-image: url(images/switch-background.png);
    background-position: 0 0;
}

