.gallery_div { background-color:transparent; }
.gallery_div img {
	max-height:100%; max-width:100%; 
	min-height:100px; min-width:300px;
}
.gallery_div a.gallery_hidden { visibility:hidden; }
.gallery_div a {
	text-decoration:none; color:#000; 
	font-size:0.2em;
}
.gallery_div a:active, .gallery_div a:focus { outline: none; }
.gallery_div div.gallery_title { text-align:center; }
.gallery_div div.gallery_title b {
	font-family:sans-serif;
	font-weight:bold;
	color:#fff;
	padding:0.3em 0.8em;
}
.gallery_div a.gallery_last { background-image:url('../images/gallery_last.png'); }
.gallery_div a.gallery_last:hover { background-image:url('../images/gallery_last2.png'); }
.gallery_div a.gallery_next { background-image:url('../images/gallery_next.png'); }
.gallery_div a.gallery_next:hover { background-image:url('../images/gallery_next2.png'); }

/* #########################################################################
   ######################### Kompaktmodus ##################################
   ###################################################################### */

.gallery_div.gallery_preview {
	background-repeat:no-repeat;
	background-position:center;
	float:right;
	margin:0.6em 0 1em 1em; width:320px;
} 
.gallery_div.gallery_preview img {
    box-shadow: 0 0 10px 6px #999;
	/* Für Internet Explorer 8 */
	max-height:300px\9; width:auto\9 !important;
	max-width:400px\9; height:auto\9 !important;
	width:1px\9;margin:0 auto\9;
}

.gallery_div.gallery_preview .gallery_close { display:none; }
.gallery_div.gallery_preview div.gallery_tr { display:table; text-align:center; }
.gallery_div.gallery_preview a.gallery_toggle { max-width:400px; display:table-cell; } 
.gallery_div.gallery_preview div.gallery_title {
	display:none;
}
.gallery_div.gallery_preview a.gallery_last { background-position: 0px center; }
.gallery_div.gallery_preview a.gallery_next { background-position: 0px center; }
.gallery_div.gallery_preview a.gallery_next,
.gallery_div.gallery_preview a.gallery_last {
	display:none;
}

/* #########################################################################
   ######################### Vollbildmodus #################################
   ###################################################################### */
 
.gallery_div.gallery_full {
	background-repeat: repeat;
	background-position:top left;
	background-image:url('../images/gallery_pixel2.png');
	position:fixed; top:0;left:0px;
	width:100%; height:100%; margin:0;padding:0;
	z-index:10000;
}
.gallery_div.gallery_full img {
	margin:auto; position:absolute;
	top:0;bottom:0;
	left:0;right:0;
	max-height:90%;
	max-width:85%;
}

.gallery_div.gallery_full a.gallery_close {
	position:fixed; top:40px; right:40px;
	width:45px; height:45px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:top left;
	background-image:url('../images/gallery_close.png');
}
.gallery_div.gallery_full a.gallery_close:hover {
	background-image:url('../images/gallery_close2.png');
}
.gallery_div.gallery_full div.gallery_title {
	position:fixed; bottom:50px; width:100%; font-size:1em;
}
.gallery_div.gallery_full a.gallery_last { left:30px; }
.gallery_div.gallery_full a.gallery_next { right:30px; }
.gallery_div.gallery_full a.gallery_next,
.gallery_div.gallery_full a.gallery_last {
	position:fixed; top:50%;
	margin-top:-25px;
	width:50px; height:50px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position:top left;
}
