/* Main region */
#mainArea {
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
    position: relative;
    z-index: 100;
    transform: translateX(0%);
}

#mainArea > div {
    overflow: auto;
    height: 100%;
    background: #fff;
}

#mainArea.drawer {
    transform: translateX(80%);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.8);
}

#mainArea > div.before {
    display: none;
}

#mainArea.drawer > div.before {
    content: "";
    display: block;
    position: absolute;
    width:100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:110;
}

/* Sidebar */
section[data-type="sidebar"] {
    position: absolute;
    top: 0; left: 0;
    width: 80%; height: 100%;
    overflow: hidden;
    color: #fff;
}

/* Sidebar header */
section[data-type="sidebar"] > header {
    position: absolute;
    width: 100%; height: 45px;
    background-image: url(../icon-60.png), url(images/drawer-pattern.png);
    background-repeat: no-repeat, repeat;
    background-position: 10px -4px, top left;
    box-shadow: 0 -2px 7px 3px rgba(0,0,0,0.4);
}

section[data-type="sidebar"] > header h1 {
    margin: 0;
    padding: 0 0 0 81px;
    font-size: 21px;
    line-height: 45px;
}

section[data-type="sidebar"] > nav {
    -moz-box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 45px 0 0 0;
    background: transparent url(images/drawer-pattern.png) repeat top left;
}

section[data-type="sidebar"] > nav > ul {
    width: 100%;
    margin: 0; padding: 0;
    background: transparent url(../icon-60.png) no-repeat 10px -49px;
}

section[data-type="sidebar"] > nav > ul > li {
    list-style: none;
    transition: background 0.2s ease;
}

section[data-type="sidebar"] > nav > ul > li:active {
    background: rgba(0,171,204,0.4);
}

section[data-type="sidebar"] > nav > ul > li > a {
    display: block;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 0 0.8rem 0 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border:0;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    line-height: 3.2rem;
    border-bottom: 0.1rem solid #596068;
}
