@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(fonts/firasansot-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(fonts/firasansot-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(fonts/firasansot-medium-webfont.woff) format('woff');
}

/* Begin angular-csp.css
    Taken from https://code.angularjs.org/snapshot/angular-csp.css
    See documentation of ngCsp for more information.
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility:hidden;
}

.ng-anchor {
  position:absolute;
}

/* End angular-csp.css */

html { height: 100%; width: 100%; }
body {
    font-family: 'Fira Sans', sans-serif;
    padding:0; margin: 0;
    height:100%; width:100%;
    display:block; overflow:hidden;
}

button {
    padding: 0.4rem 0;
    line-height: 1.3rem;
    border: 0;
    border-radius: 1rem;
    background: none #D8D8D8;
    color: #000;
    font-style:italic;
}

button.cancel {
    background-color: #E51E1E;
    color: #fff;
}

button:disabled {
    opacity:0.5;
    background-color:#FFF;
    color: #777;
}

button::-moz-focus-inner, a:active, a:focus {
    outline: none; border: none;
}

button:not(:disabled):active,
button.cancel:not(:disabled):active {
    background-color:#b2f2ff;
}

input[type=text] {
    border: 1px #aaa solid;
    border-radius: 0;
    background: none #fff;
    box-shadow: none;
    padding: 0.4rem;
    color: #000;
}

input[type=text]::-moz-placeholder {
    font-style:italic;
    color: #444;
}

label.pack-switch {
    display: block;
    position: absolute;
    top:50%; right: 10px;
    background: none;
}

label.pack-switch input {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    opacity: 0;
}

label.pack-switch input ~ span:after {
    content: '';
    position: absolute;
    right: 0; top: 50%;
    pointer-events: none;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: background 0.2s ease;
}

div[role="main"] {
    padding: 3rem 0 0;
    color: #000;
}

section[data-type="list"] > ul {
    padding: 0; margin: 0;
}

section[data-type="list"] > ul > li {
    position: relative;
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    margin: 0; padding: 0;
    border-bottom: 1px solid #e7e7e7;
}

section[data-type="list"] > ul > li > p,
section[data-type="list"] > ul > li > div > p,
section[data-type="list"] > ul > li > a > p {
    margin: 0;
    padding: 1rem;
}

section[data-type="list"] > ul > li > div,
section[data-type="list"] > ul > li > a {
    display: block;
    text-decoration: none; color: #000;
}

section[data-type="list"] > ul > li > a:hover,
section[data-type="list"] > ul > li > a:active {
    background-color: rgba(0,213,255,0.3);
}

section[data-type="output"] {
    padding:0; margin:0.2rem 0;
}

section[data-type="output"] > p { margin: 1rem; }


