
section[data-type="list"] ul.matches {
    margin: 4px 3px;
}

section[data-type="list"] ul.matches li {
    margin-bottom: 4px;
    box-shadow: 1px 1px 2px 1px #bbb;
    border-width: 0;
}

section[data-type="list"] ul.matches li.idle {
    position: absolute;
    left: 50%;
    margin: 1rem 0 0 -1.5rem;
    width: 2.9rem; height: 2.9rem;
    border: none;
    background: url(images/spinner.png) no-repeat center center;
    animation: 0.9s rotate infinite steps(30);
    box-shadow: none;
}

section[data-type="list"] ul.matches span.marker {
    display: block;
    float: right;
    width: 7px; height: 7px;
    margin-left: 3px;
}

section[data-type="output"] {
    background-color:#fff; padding: 4px 4px 0;
}

section[data-type="output"] div.text {
    padding: 0 1em 0 0; margin: 0 0 7px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px #bbb;
    background-color: #fff;
}

section[data-type="output"] div.text > div {
    overflow: hidden;
}

section[data-type="output"] div.text h2.dictname {
    position: absolute;
    left: 100%;
    transform: rotateZ(90deg);
    transform-origin: 0 0 0;
    height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0; padding: 0.1em 0.3em;
    line-height: 0.9em;
    text-align: center;
    font-size: 0.8em;
    font-weight: normal;
    color: #fff;
    background-color: #000;
}

section[data-type="output"] div.text > div + div h3.term {
    border-top: 1px #000 solid;
    padding-top: 5px;
}

section[data-type="output"] div.text h3.term {
    margin: 0; padding: 0 0.3em;
    line-height:1.4em;
    font-size: 0.8em;
    font-weight: normal;
    color: #000;
    background-color: transparent;
    text-align: right;
}

section[data-type="output"] div.text h3.term b { font-weight: bold; }

section[data-type="output"] div.text .content > div { padding: 0.3em 0.4em; }

section[data-type="output"] div.text .content.expandable.preview {
    max-height: 80px;
}

section[data-type="output"] div.text .button {
    position: relative;
    display: none;
}

section[data-type="output"] div.text .button div {
    margin: 0 0.5rem 0.4rem;
    padding: 0.7rem 0.5rem;
    border: none;
    border-radius:1rem;
    background-color: rgba(230,230,230,0.95);
    text-align: center;
}

section[data-type="output"] div.text .content.expandable ~ .showmore {
    display: none;
}

section[data-type="output"] div.text .content.expandable ~ .showless {
    display: block;
}

section[data-type="output"] div.text .content.expandable.preview ~ .showmore {
    display: block;
}

section[data-type="output"] div.text .content.expandable.preview ~ .showless {
    display: none;
}

div.content ol,
div.content ul,
div.content dl,
div.content dt,
div.content dd {
    margin: 0; padding: 0;
}

div.content dt {
    color: #8B4513; margin-bottom: 0.2em;
}
div.content a {
    color: #0044AA;
}

div.content li {
    margin: 0 0 0 2em; padding: 0;
}

div.content p {
    margin: 0 0 0.3em; padding: 0;
}

div.content h1,
div.content h2,
div.content h3,
div.content h4,
div.content h5,
div.content h6 {
    font-weight: bold;
    padding: 0; margin: 0.3em 0;
}

div.content i {
    color: #841;
}

div.content blockquote p {
    margin-top: 0.2em; padding: 0; color: #000;
}

div.content blockquote {
    margin: 0.2em 0.7em; padding: 0; font-style: italic;
    color: #00006E;
}

div.content img {
    max-width: 100%;
}

